// ------------------------
// Table
// ------------------------

table {
    background: #fff;
    border: 1px solid #EEEEEE;
    width: 100%;
}

table th, table td {
    border: 1px solid #EEEEEE;
    padding: 10px;
}

table th {
    background: #f2f2f2;
}